body {
  text-align: center;
  
}

#hero {
  margin: 64px auto 64px;
  width: 626px;
  height: 486px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #3f3d56;

}

span {
  color: #ee24ff
}

strong {
  color: #3f3d56;
}

#p1 {
  color: #828282;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #828282 ;
} 

.line { 
  border: 1px solid #ECEFF2;
  width: 391px;
  height: 0px;
  margin: 64px auto 16px ;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  
}

a + a {
 margin-left: 42px;
}

#wave {
  margin: 40.83px auto 0px;
}